body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    max-height: 700px;
    margin: 0 auto;
    background-image: url(https://i.pinimg.com/564x/28/be/95/28be95464e9b98b3a9bce11e493b9d53.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #333333;
}

body.modo-escuro{
    background-image: url(https://i.pinimg.com/564x/68/bb/88/68bb88ded00bad82a76c0830303433ab.jpg);
    color: #f5f5f5;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo{
    width: 180px;
    transition: 0.2s ease-in-out;
}

header .imagem-botao{
    width: 90px;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}

header .discos{
    width: 110px;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}

header #botao-alterar-tema{
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
header .discos:hover,
main .cartao-idol:hover,
h2 .spotify:hover,
.instagram:hover,
.twitter:hover,
.youtube:hover{
    transform: scale(1.10);
    cursor: pointer;
}


main{
    padding: 25px;
}

main .listagem-stray-kids{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-idol{
    background-color: white;
    width: 200px;
    height: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-idol:hover{
    background-color: #ff0000;
    border: 1px black solid;
    color: #ffff;
    transition: 0.2s ease-in-out;
}

.modo-escuro .cartao-idol{
    background-color: #000000;
}

main .cartao-idol .informacoes{
    display: flex;
    justify-content: space-between;
    border: 2px dashed #333333;
    border-radius: 10px;
}

main .cartao-idol .informacoes span{
    padding: 7px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-idol .foto{
    width: 125px;
    border-radius: 15px;
}

main .cartao-idol .bandpositions{
    display: flex;
    gap: 15px;
}

main .cartao-idol .posicao{
    padding: 8px;
    border-radius: 10px;
    font-size: 12px;
    border: 1px black solid;
}

.lider{
    background-color: rgb(106, 106, 106);
}

.vocalista{
    background-color: rgb(106, 106, 106);
}

.rapper{
    background-color: rgb(106, 106, 106);
}

.subvocalista{
    background-color: rgb(106, 106, 106);
}
.dancarino{
    background-color: rgb(106, 106, 106);
}

.line{
    background-color: rgb(106, 106, 106);
}

main .descricao{
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}

.modo-escuro .dancarino{
    background-color: orangered;
}

.modo-escuro .lider{
    background-color: orangered;
}

.modo-escuro .vocalista{
    background-color: orangered;
}

.modo-escuro .line{
    background-color: orangered;
}

.modo-escuro .rapper{
    background-color: orangered;
}

.modo-escuro .subvocalista{
    background-color: orangered;
}

.modo-escuro .cartao-idol:hover{
    background-color: red;
}

.modo-escuro .cartao-idol .bandpositions{
    font-family: 'Poppins';
    color: #000000;
}

main .cartao-idol .bandpositions{
    font-family: 'Poppins';
    color: #ffff;
}

h2:hover{
    display: flex;
    display: grid;
    justify-content: space-between;
}

.spotify{
    width: 35px;
    position: absolute;
    left: 10px;
    top: 10px;
    transition: 0.2s ease-in-out;
}


.youtube{
    width: 35px;
    position: absolute;
    left: 10px;
    top: 50px;;
    transition: 0.2s ease-in-out;
}

.twitter{
    width: 35px;
    position: absolute;
    left: 10px;
    top: 90px;
    transition: 0.2s ease-in-out;
}

.instagram{
    width: 35px;
    position: absolute;
    left: 10px;
    top: 130px;
}